@use "sass:math";

// Принимает px
@function rem($pixel) {

    // Перевод в rem
	@if math.is-unitless($pixel) {
		@return math.div($pixel, 16) + rem;
	} @else {
		@error 'Do not use units of measurement when working with the rem() function. Pass only numbers as arguments.';
	}
}
