// Импортируем файл в scss
@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/fontello.css";

// Его не буду юзать, ибо установил плагин postcss pxtorem
@use "/src/sass/pxtorem.scss";

// Подключение переменных
@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/basic.scss";

// Импорт ui-компонентов
@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";

// Импортируем стили секций, блоков
@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/activities.scss";
@use "/src/sass/blocks/git.scss";
@use "/src/sass/blocks/works.scss";
@use "/src/sass/blocks/footer.scss";
@use "/src/sass/blocks/catalog.scss";
@use "/src/sass/blocks/blog.scss";
@use "/src/sass/blocks/about.scss";
@use "/src/sass/blocks/findus.scss";