@use "/src/sass/base/variables.scss" as *;

.blog {
    padding-top: 50px;

    .just-validate-error-field {
        border: 1px solid $ui-error;
    }

    &__title {
        margin-top: 60px;
    }

    &__title-h3 {
        text-align: left;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__card {
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        background: $light;
    }

    &__data {
        &-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 25px 25px 0 25px;
        }
    }

    &__text {
        margin-top: 25px;
        padding: 0 25px 25px 25px;
        color: $dark;
        font-size: 16px;
        font-weight: 400;
    }

    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1px) translateY(1px);
    }
}

@media screen and (min-width: 768px) {
    .blogs {
        &__wrapper {
            padding: 25px 25px 0 25px;
        }

        &__text {
            margin-top: 15px;
        }

        &__data {
            &-column {
                gap: 0;
                justify-content: space-between;
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .blog {
        &__wrapper {
            margin-bottom: 60px;
            flex-direction: row;
            align-items: flex-start;
        }

        &__text {
            flex: 1;
        }

        &__card {
            width: 550px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .blog {
        &__wrapper {
            justify-content: space-between;
        }

        &__card {
            width: 670px;
        }
    }
}