@use "/src/sass/base/variables.scss" as *;

.catalog {
    padding-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__tabs {
        display: flex;
        column-gap: 50px;
        row-gap: 13px;
        flex-wrap: wrap;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 35px;
    }

    &__tab {
        position: relative;
        border: none;
        background: none;
        color: $dark;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        text-transform: uppercase;

        &_active::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $dark;
            bottom: -1px;
        }
    }

    &__content {
        margin-bottom: 60px;
        &-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &-card {
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        background: $light;
        margin-top: 60px;
        border: 1px solid $dark;

        &__descr {
            margin: 10px 0 10px 5px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__title {
            text-align: left;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            width: 459px;
            flex-wrap: nowrap;
        }

        &__tab {
            font-size: 18px;
        }

        &-card {
            width: 340px;
        }

        &__content {
            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__tabs {
            width: 459px;
        }

        &__content {
            &-item {
                gap: 35px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        &__content {
            
        }
    }
}