@use "/src/sass/base/variables.scss" as *;

.footer {
    background-color: $dark;
    min-height: 425px;

    &-info {
        color: $light;
        margin: 40px 0 40px 0;
    }

    &-h3 {
        color: $light;
        text-align: left;
    }

    &__block {
        &_news {
            padding-top: 80px;
        }
    }

    &__wrapper {
        padding-top: 40px;

        &-blocks {
            display: flex;
            gap: 65px;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        &_social {
            color: $light;
            h3 {
                margin-bottom: 40px;
            }
        }

        &-block {
            p {
                font-weight: 400;
                font-size: 16px;
                color: $light;
            }
        }
    }

    &__input-block {
        input {
            border: none;
            border-bottom: 1px solid $ui-active;
            width: 293px;

            &::placeholder {
                color: $ui-active;
                font-size: 14px;
            }
        }
    }

    &__check-block {
        color: $light;
    }

    &_btn {
        border: 1px solid $light;
        width: 90px;
        height: 40px;
        color: $light;
        margin: 30px 0 40px 0;
    }

    &__copyright {
        margin-top: 40px;
        display: block;
        text-align: center;
        font-size: 14px;
        color: $light;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 67px;
            &-blocks {
                flex-wrap: nowrap;
            }
            &-block {
                margin-top: 40px;
                text-align: center;
                span {
                    color: $light;
                }
                p {
                    margin-top: 20px;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__form {
            display: flex;
            gap: 71px;
        }

        &__block {
            &_news {
                padding-top: 40px;
            }
        }
    }
}