@use "/src/sass/base/variables.scss" as *;

.header {

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        padding: 50px 10px;
        position: fixed;
        top: 0;
        left: -100vw; // Тоже влево отодвинули
        width: 100vw; // Отталкиваемся от монитора
        height: 100vh;
        background-color: $light;
        //transform: translateX(-100vw); // Отодвигаем влево на 100%
        transition: all .5s;
        opacity: 0;
        &_active {
            transform: translateX(100%); // Возвращаем в изначальное положение
            opacity: 1;
        }

        &-close {
            width: 20px;
            height: 20px;
            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;

                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg); // Вращаем первый элемент на 45 градусов
                }
                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg); // Вращаем первый элемент на 45 градусов
                }
            }
        }

        &-nav {
            margin-top: 50px;
            padding-left: 14px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0;
                list-style: none;

                a {
                    width: 50%;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $dark;
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }
}

.burger {
    display: flex;
    flex-direction: column;
    height: 23px;
    row-gap: 9px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {

    .header {
        &__nav {
            display: block;
            margin-top: 20px;
            ul {
                padding-left: 0;
                display: flex;
                justify-content: center;
                gap: 30px;
                li {
                    list-style: none;
                }
            }
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
        }

        &__menu {
            display: none;
        }
    }


    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }
        &__nav {
            margin-top: 36px;
            ul {
                gap: 60px;
            }
        }
    }
}